.logo-face {
    color: #1877F2;
    font-size: 30px;
    margin: 1%;
    transition: color 0.4s, transform 0.4s;
}

.logo-twitter {
    color: #1D9BF0;
    font-size: 30px;
    margin: 1%;
    transition: color 0.4s, transform 0.4s;
}

.logo-instagram {
    color: #C13584;
    font-size: 30px;
    margin: 1%;
    transition: color 0.4s, transform 0.4s;
}

@keyframes colorChange {
    0% { color: rgba(0, 0, 0, 0.548)} 
    50% { color:black; } 
    100% { color: rgba(0, 0, 0, 0.438); }
  }
  
  @keyframes shadowPulse {
    0% { text-shadow: 0 0 5px black; }
    50% { text-shadow: 0 0 15px black; }
    100% { text-shadow: 0 0 5px black; }
  }
  
  .logo-hover:hover {
    animation: colorChange 1.5s infinite alternate, shadowPulse 1s infinite; 
  }
