.bloc {
    display: inline-block;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.featured {
    display: flex;
}

.card-margin {
    margin-right: 2%;
}

.more {
    margin-left: auto;
    color: black;
}

.more:hover{
    color: rgb(126, 108, 108);
}