.first-bloc {
    min-height: 100vh;
    max-width: 100vw;
    top: 0;
    left: 0;
    filter: brightness(60%) saturate(90%);
    background-image: url('../images/bloc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.bloc {
    display: inline-block;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.featured {
    display: flex;
}

.card-margin {
    margin-right: 2%;
}

.more {
    margin-left: auto;
    color: black;
}

.more:hover {
    color: rgb(126, 108, 108);
}

.card-bloc {
    transition: transform 0.5s;
}

.card-bloc:hover {
    transform: scale(1.05);
    filter: brightness(1.3);
}

