body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #23272F;
}

.App {
  text-align: center;

}

h1 {
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.secondary {
  flex: 1;
  width: 100%;
  margin: 0;
}

p {
  word-wrap: break-word;
}

.negrita {
  font-weight: bold;
}

.color-nav {
  background-color: #5d8b8fc0;
  font-family: revert-layer;

}





